.find-a-meal-container {
    padding-bottom: 120%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.page-heading {
    font-family: 'Limelight', script;
    text-align: center;
    margin-top: 20%;
}

.find-meal-subheading {
    margin-top: -5%;
}

.filter {
    padding-bottom: 1%;
}

.park-btns {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.park-btn, .all-park-btn {
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px lightgrey solid;
    background-image: linear-gradient(-180deg, #f7f7f7 0%, #e7e7e7 100%);
    color: black;
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.park-btn:hover, .all-park-btn:hover {
    color: #555;
    background: #f5f5f5;
    box-shadow: 0px 10px 10px #c2d2db ;
}

.park-btn:active, .all-park-btn:active{
    box-shadow: 0px 10px 10px rgb(127, 187, 214);
}
.park-btns .park-btn:before {
    content: "";
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  img {
    text-align: center;
    max-height: 30px;
    max-width: 30px;
  }

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



@media all and (min-width: 600px) {
    .find-a-meal-container {
        margin-top: -10%;
    }

    .find-meal-subheading {
        margin-top: -10%;
    }

    .result-card-list {
        margin-top: 5%;
    }

    .park-btns {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }

    .park-btn, .all-park-btn {

        width: 120px;
        height: 80px;
        font-size: 13px;
    }
    .park-btn img{
        margin-bottom: 1px;

    }
    .all-park-btn {
        font-size: 20px;
    }
    img {
        height: 50px;
        width: 50px;
    }

    .diet-filter-label {
        font-size: 17px;
    }

    .diet-filter-dropdown {
        font-size: 17px;
    }
}

@media all and (max-width: 400px) {
    .park-btn, .all-park-btn {
        width: 60px;
        height: 60px;

    }
}