.page-heading {
    text-align: center;
    margin-top: 15%;
}

h2 {
    text-align: center;
}

.filter {
    padding-bottom: 1%;
}

.park-btns {
    padding: 10px;
}

.park-btn {
    padding: 5px;
    margin: 2px;
    
}

.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}