.main-page-container, .welcome-info {
    padding: 5px;
    background-color: white;
}

.welcome-info {
    border-radius: 5px;
    padding: 5%;
    margin-top:10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    

    background: linear-gradient(269deg, #ffffff, #e1e1e1, #e6f2d0, #d0ebf2);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

.info-heading {
    font-family: 'Limelight', cursive;
    font-size: 25px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}