.main-page-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 15%;
    padding: 2px;
}

.welcome-info, .share-info {
    border-radius: 20px 0px 20px 0px;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    text-align: justify;
    background-color: white;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.share-info {
    margin-top:10%;
}

.share-info-container {
    margin-top: -15%;
    
} 
.info-heading {
    font-family: 'Limelight', cursive;
    font-size: 15px;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

@media all and (min-width: 600px) {
    .main-page-container {
        margin-top: 15%;
        margin-bottom: -5%;
    }
    .info-heading {
        font-size: 25px
    }

    p {
        font-size: 20px;
    }
}