* {
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center; 
  
}

.main-container {
  padding-top: 10%;
  margin: 0 auto;
  width: 100%;
  z-index: 1; 
    background: linear-gradient(269deg, #e1e1e1, #e6f2d0, #d0ebf2);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

