.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    box-shadow: 4px 0 4px 0 rgba(0,0,0,.2);

}

.footer-container p {
    padding-left: 5px;
}

.footer-links {
    list-style: none;
    margin-top: 1%;
    padding-top: 5px;
    padding-right: 10px;
    color: black;
    font-size: 15px;
}

.github, .linked-in {
    text-decoration: none;
    color: black;
}

@media all and (min-width: 600px) {
    .footer-container{
        padding: 5px;
        font-size: 20px;
    }

    .footer-container a {
        font-size: 25px;
    }
}  